<!-- app.component.html -->
<div class="header">
  <!-- Logo and Brand Name -->
  <div class="logo-container">
    <img src="https://dynamic.brandcrowd.com/asset/logo/f170620a-14a3-4622-9473-507c06d09fa6/logo-search-grid-1x?logoTemplateVersion=1&v=637580309716670000" alt="ShopNest Logo">
    <h1>ShopNest</h1>
  </div>
  <nav>
    <a routerLink="/" class="nav-link">Product List</a>
    <a routerLink="/cart" class="nav-link">Shopping Cart</a>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
